body{
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    overflow: hidden
}

#dog1{
    background-color: transparent;
    top: 400px;
    left: 50px;
    width: 50px;
    height: 100px;
    background-color: transparent;
    position: relative;

}

#dog2{
    background-color: transparent;
    top: 450px;
    left: 1000px;
    width: 50px;
    height: 100px;
    background-color: transparent;
    position: relative;

}

#group{
    background-color: transparent;
    top: 450px;
    left: 500px;
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;

}

.fly {
    position: absolute;
    animation: flyAcross 5s linear infinite;
}

@keyframes flyAcross {
    0% {
        left: -100px;
        top: 0%;
        transform: translateY(-10%);
    }
    100% {
        left: 100vw;
        top: 0%;
    }
}

#plane{
    width: 150px;
    height: 150px;
}

#flowers1{
    background-color: transparent;
    top: 470px;
    left: 900px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

#flowers2{
    background-color: transparent;
    top: 470px;
    left: -200px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}